@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
  --lightGrey: #b1b1b1;

  background-color: var(--lightGrey);
}

body {
  font-family: Roboto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position:relative; /*Needed for absolute positioning of line */
  width: 120px;
  height: 170px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: aliceblue;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures icons don't overflow if too many */
}

.card .icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 4px; /* Adjust the gap between icons as needed */
}

.card i {
  font-size: 20px; /* Adjust icon size as needed */
}
